.element .History-Quiz text {
	position: fixed;
	right: 64%;
	/* Stick to the right side */
	top: 24%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.element .History-Quiz .histori img {
	position: fixed;
	right: 45%;
	/* Stick to the right side */
	top: 26%;
	/* Vertically center */
	width: 550px;
	/* Adjust width as a percentage of the parent */
	height: 350px;
}

.histori h1 {
	position: fixed;
	right: 6%;
	/* Stick to the right side */
	top: 16%;
	/* Vertically center */
	color: #696F79;
	font-size: x-large;
}

.element .histori p {
	position: fixed;
	right: 37%;
	/* Stick to the right side */
	top: 27%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.element .first-line text {
	position: fixed;
	right: 20%;
	/* Stick to the right side */
	top: 35%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.element .second-line text {
	position: fixed;
	right: 18%;
	/* Stick to the right side */
	top: 38%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.element .third-line text {
	position: fixed;
	right: 18%;
	/* Stick to the right side */
	top: 41%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.element .fourth-line text {
	position: fixed;
	right: 28%;
	/* Stick to the right side */
	top: 45%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.answer h1 {
	position: fixed;
	right: 70%;
	/* Stick to the right side */
	top: 70%;
	/* Vertically center */
	color: #696F79;
	font-size: medium;
}

.element .check-london {
	position: fixed;
	right: 73%;
	/* Stick to the right side */
	top: 77%;
	/* Vertically center */
	font-size: small;
	color: #696F79;
}

.element .check-edinburgh {
	position: fixed;
	right: 72%;
	text-align: right;
	/* Stick to the right side */
	top: 83%;
	/* Vertically center */
	font-size: small;
	color: #696F79;
}

.element .check-liverpool {
	position: fixed;
	right: 72%;
	/* Stick to the right side */
	top: 89%;
	/* Vertically center */
	font-size: small;
	color: #696F79;
}

.element .check-canary {
	position: fixed;
	right: 70%;
	/* Stick to the right side */
	top: 95%;
	/* Vertically center */
	font-size: small;
	color: #696F79;
}

